#positions{
	border: double red 10px;
	color: blueviolet;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size:40px;
	height:600px;
	overflow:auto;
	width:auto;
    padding: 20px;

}